[submodule "lib/llcc68_driver"]
	path = lib/llcc68_driver
	url = https://github.com/Lora-net/llcc68_driver.git
[submodule "libs/mbedtls"]
	path = libs/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
